<footer>
    <!-- <p class="follow">
        يُمكنك متابعة اخر أخبار الموقع و القناة علي

        <a href=""> الفيسبوك </a>
    </p> -->

    <p class="design">Mohamed Ahmed (Back-End Deveoper)</p>
</footer>